main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 65vh; /* Altura mínima para ocupar la pantalla */
    text-align: center;
}

#nav button#nav_home,
#nav a#nav_productos,
#nav a#nav_carrito {
    display: none; /* para evitar mostrarlos en esta página */
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f6;
    color: #1a1a1a;
}

main.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-card {
    background: #ffffff;
    padding: 40px;
    max-width: 380px;
    border-radius: 16px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.login-card h1 {
    margin: 0 0 25px;
    text-align: center;
    font-size: 1.5rem;
    color: #1a1a1a;
}

/* ------ Form ------ */
#form-bienvenida {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 0.9rem;
    color: #5a5a5a;
}

input {
    padding: 12px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    font-size: 1rem;
    background: #ffffff;
    color: #1a1a1a;
}

input::placeholder {
    color: #5a5a5a;
}

/* ------ Botón ------ */
.btn-primary {
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    background: #007aff;
    color: #fff;
    transition: filter 0.15s;
}

.btn-primary:hover {
    background-color: #0065d1;
}

/* ------ Modo oscuro ------ */

.dark_theme .login-card, .dark_theme input {
    background-color: #1a1c1e;
    border-color: #2d2f33;
    color: white;
}

.dark_theme .login-card h1 {
    color: white;
}

.dark_theme input::placeholder, .dark_theme label {
    color: #b5b5b5;
}