body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    text-align: center; 
    padding: 20px;
}

/* --- Estilos del Header Global --- */

#header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    background-color: #4CAF50;
    color: white;
}
    
/* Contenedor para la nueva imagen-logo */
.logo-container {
    display: flex;
    align-items: center;
}
    
/* Estilos para la nueva imagen-logo */
#header-main img {
    height: auto;
    width: 300px; 
}

#nav {
    display: flex;
    flex-grow: 1;           
    justify-content: flex-end; 
    align-items: center;
    gap: 20px;
}

#nav p, #nav a {
    margin: 0;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#barraBusqueda {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 40px;
    background-color: #333;
    color: white;
}

.admin-login-button {
    background-color: rgb(44, 110, 223);
    color: white;
    padding: 15px 12px;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}