#barraBusqueda {
    padding: 5px 10px;
    background-color: rgb(27, 21, 147);
    border: 1px solid #ccc;
    border-radius: 4px;
}

#barraBusqueda::placeholder {
    color: #F65916;
}

.filtros button {
    padding: 8px 15px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filtros button:hover {
    background-color: #0056b3;
}

.cards-products {
    display: flex;        
    flex-wrap: wrap;     
    justify-content: center; 
    gap: 20px;            
}

.categorias-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    gap: 20px;
    padding: 20px;
}

.categoria-columna {
    border: 1px solid #ccc; 
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9; 
    width: 48%; 
    min-height: 300px;
}

.categoria-titulo {
    text-align: center;
    margin-top: 0;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.productos-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 150px; 
    text-align: center;
}

.card-producto img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card-producto h3 {
    margin: 10px 0 5px 0;
    font-size: 1.1em;
}

.card-producto p {
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #333;
}

.card-producto button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-producto button:hover {
    background-color: #388e3c;
}

/* Cambios de colores con tema oscuro */

.dark_theme.enable .categoria-columna{
    background-color: #333;
}

.dark_theme.enable .card-producto {
    background-color: gray;
}


/* Media Responsive */
@media (max-width: 768px) {

    .categorias-container {
        flex-direction: column;
        align-items: center; 
    }

    .categoria-columna {
        width: 90%; 
    }
}