/* ------ Barra de busqueda ------ */
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #d7d7d7;
    padding: 10px 14px;
    border-radius: 12px;
    max-width: 450px;
    width: 100%;
}

.search-bar span {
    font-size: 20px;
    color: #b5b5b5;
}

#barraBusqueda {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: white;
}

#barraBusqueda::placeholder {
    color: #b5b5b5;
}

/* ------ Productos ------ */
.cards-products {
    display: flex;        
    flex-wrap: wrap;     
    justify-content: center; 
    gap: 20px;            
}

.categorias-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    gap: 20px;
    padding: 20px;
}

.categoria-columna {
    border: 1px solid #ccc; 
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9; 
    width: 48%; 
    min-height: 300px;
}

.categoria-titulo {
    text-align: center;
    margin-top: 0;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.productos-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 150px; 
    text-align: center;
}

.card-producto img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card-producto h3 {
    margin: 10px 0 5px 0;
    font-size: 1.1em;
}

.card-producto p {
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #333;
}

.card-producto button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-producto button:hover {
    background-color: #388e3c;
}

/* Cambios de colores con tema oscuro */

.dark_theme .categoria-columna{
    background-color: #1A1C1E;
    border-color: #3A3C42;
}

.dark_theme .card-producto {
    background-color: #1E1F22;
    border-color: #3A3C42;
}

.dark_theme .categoria-titulo {
    border-color: #2D2F33;
}

.dark_theme .card-producto p {
    color: #E1E1E1;
}

/* Media Responsive */
@media (max-width: 768px) {

    .categorias-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .categoria-columna {
        width: 90%; 
    }

    .search-bar {
        width: 90%;
    }
}